body.examples {
  padding: 0;
  
  .examples {
    text-align: center;
    padding: 20px;
    .entry {
      max-width: 1000px;
      margin: 0 auto 60px auto;
      h3 {
        color: #64BBDA;
        margin: 20px 0 0 0;
        text-align: left;
        font-size: 24px;
      }
      p {
        color: #E8DED6;
        margin: 0 0 20px 0;
        text-align: left;
      }
      img {
        
      }
      .video-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
      .video-responsive iframe{
          left:0;
          top:0;
          height:100%;
          width:100%;
          position:absolute;
      }
    }
  }

}